<div *ngIf="post">

    <div class="container">
        <div class="row">
          <div class="col-8">
            
              <div class="card mb-5">
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.body }}</p>
                </div>
              </div>

              <div *ngIf="comments">
                <h3 class="mb-3">Comments</h3>

                <div class="card mb-3" *ngFor="let comment of comments">
                    <div class="card-body">
                      <h5 class="card-title">{{ comment.name }}</h5>
                      <p class="card-text">
                        <em>{{ comment.email }}</em><br />
                        {{ comment.body }}
                      </p>
                    </div>
                  </div>
              </div>

          </div>
          <div class="col-4">
            
              <div class="card mb-5" *ngIf="user">
                  <div class="card-body">
                    <h5 class="card-title">Author</h5>
                    <p class="card-text">
                      <a routerLink="/userdetail/{{ user.id }}">{{ user.name }}</a> <br />
                      <em>{{ user.email }}</em> <br />
                      <em>{{ user.phone }}</em> <br />
                      <em>{{ user.website }}</em> <br />
                    </p>
                  </div>
                </div>

          </div>
        </div>
      </div>
   
</div>